body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff; }
 
 p {
  margin: 0 0 10px; }
  
 h4 {
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  }

 h5 {
  font-weight: 600;
  font-size: 14px; 
  margin-top: 10px;
  margin-bottom: 10px;
  }
 
 h4.grey-bar {
  border-top: 4px solid #ebe7e6;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  margin: 0 0 10px 0;
  padding: 6px 0 0 0; 
  background-color:#fff;
  }
  
  h5.grey {
 color: #98999B; 
 }
 
  h5.accent {
    color: #98999B;
 }
 
 
 IMG.img-left {
 float:left; 
 margin-top:5px;
 margin-right:20px; 
 padding-bottom:20px; 
 text-align:left;

}

 IMG.img-right {
 float:right; 
 margin-top:5px;
 margin-left:20px; 
 padding-bottom:20px; 
 text-align:right; 
 
}

IMG.img-center {
    margin-left: auto;
    display: block;
    margin-right: auto;
}

p.alert {
 color: #FF0000;
 font-weight: bold;
}

p.divider { 
 width: 100%;
 height: 1px;
 background: url(../images/csf_r2_grey_dotted_divider.gif) repeat-x;
 margin: 8px 0 8px 0px;
 padding:0;
 display:block;
 }
 
 p.text-small {
    font-size: 12px;
    line-height: 17px;
}
span.text-small {
    font-size: 12px;
    line-height: 17px;
}
p.text-x-small {
    font-size: 11px;
    line-height: 15px;
}
span.text-x-small {
    font-size: 11px;
    line-height: 15px;
}

p.text-large {
    font-size: 17px;
    line-height: 21px;
}
span.text-large {
    font-size: 17px;

}
p.text-x-large { 
    font-size: 19px;
 line-height: 21px;
}
span.text-x-large { 
    font-size: 19px;
}
.img-sm-3 { width: 25%; }

.img-sm-4 { width: 33.33333%; }

.img-sm-6 { width: 50%; }

.img-sm-8 { width: 66.66667%; }

.img-sm-9 { width: 75%; }

.img-sm-12 { width: 100%; }
