.red {
    background: #a22b2f none repeat scroll 0 0;
    color: #fff;
}
.darkorange {
    background: #c2531b none repeat scroll 0 0;
    color: #fff;
}
.lightorange {
    background: #d57f00 none repeat scroll 0 0;
    color: #fff;
}
.yellow {
    background: #dbaa00 none repeat scroll 0 0;
    color: #fff;
}
.darkgreen {
    background: #638c1c none repeat scroll 0 0;
    color: #fff;
}
.lightgreen {
    background: #abad25 none repeat scroll 0 0;
    color: #fff;
}
.darkteal {
    background: #007582 none repeat scroll 0 0;
    color: #fff;
}
.lightteal {
    background: #19988b none repeat scroll 0 0;
    color: #fff;
}
.blue {
    background: #005e86 none repeat scroll 0 0;
    color: #fff;
}
.lightgrey {
    background: #d1d0cf none repeat scroll 0 0;
    color: #fff;
}
.mediumgrey {
    background: #98999b none repeat scroll 0 0;
    color: #fff;
}
.darkgrey {
    background: #63656a none repeat scroll 0 0;
    color: #fff;
}
