 body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff; }
a {
    text-decoration: underline;
    color: #0b94a2;
} 
p {
  margin: 0 0 10px; }
  
h4 {
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  }

h4.orange {
	color: #f38b00;
}
h4.orange a{
    color: #f38b00;
    text-decoration:underline;
}
h4.orange a:hover{
    color: #f38b00;
    text-decoration:none;
}  

h4.green {
	color: #4e9d2d;
}
h4.green a{
    color: #4e9d2d;
    text-decoration:underline;
}
h4.green a:hover{
    color: #4e9d2d;
    text-decoration:none;
}  

h4.blue {
	color: #007cba;
}
h4.blue a{
    color: #007cba;
    text-decoration:underline;
}
h4.blue a:hover{
    color: #007cba;
    text-decoration:none;
}  
  
  
h5  {
  font-weight: 600;
  font-size: 14px; 
  margin-top: 10px;
  margin-bottom: 10px;
  }
  
p.alert {
	color: #FF0000;
	font-weight: bold;
}
span.alert {
	color: #FF0000;
	font-weight: bold;
}
  
 p.text-small {
    font-size: 12px;
    line-height: 17px;
}
span.text-small {
    font-size: 12px;
    line-height: 17px;
}
p.text-x-small {
    font-size: 11px;
    line-height: 15px;
}
span.text-x-small {
    font-size: 11px;
    line-height: 15px;
}
p.text-large {
    font-size: 17px;
    line-height: 21px;
}
span.text-large {
    font-size: 17px;

}
p.text-x-large { 
    font-size: 19px;
	line-height: 21px;
}
span.text-x-large { 
    font-size: 19px;
}

span.button-primary  a, a span.button-primary{
	display: inline-block;
	text-align: center;
	border: solid 2px #333333;
	margin: 5px 0 5px 0;
	padding: 5px 15px 5px 15px;
	color: #333333 !important;
	font-family: 'HelveticaNeueW01-75Bold', Helvetica, Arial, sans-serif;
	font-weight: bold;
	border-radius: 4px;
}

span.button-primary a:hover, a:hover span.button-primary{
	background-color: #8d919a;
}

span.button-secondary  a, a span.button-secondary{
	display:inline-block;
	text-align: center;
	padding: 5px 18px 5px 18px;
	border: 2px solid #ffffff;
	margin: 15px 0 15px 0;
	color: #ffffff;
	font-family: "Helvetica Neue", "Arial", Sans-serif;
	font-weight: bold;
	border-radius: 4px;
	background-color:#f38b00;
}

span.button-secondary a:hover, a:hover span.button-secondary{
	border: 2px solid #679dee;
	color: #679dee;
}